@using Students.Interfaces
@using System.Globalization

@inject ISharedResourcesService sharedResourcesService

@{
    CultureInfo cultureInfo = CultureInfo.GetCultureInfo(Context.Session.GetString("Culture") ?? "en-US");
    ViewData["Title"] = @sharedResourcesService.GetString("PrivacyPolitic", cultureInfo);
}
<h1>@ViewData["Title"]</h1>

<p>@sharedResourcesService.GetString("PrivacyPoliticDesc", cultureInfo)</p>
